{% load static %}
<html>
<head>
<title>Budget Tracking using Blockchain</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Budget Tracking using Blockchain</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
      <li><a href="{% url 'AddBudget' %}"><font size="" color="black">Add Budget Details</a></li>
	  <li><a href="{% url 'TrackBudget' %}"><font size="" color="black">Track Your Budget</a></li>
	  <li><a href="{% url 'index' %}"><font size="" color="black">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<center><font size="" color="black">{{ data|safe }}</font></center>

	</table>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>
